.logo {
    width: 20%;
    display:flex;
    flex-wrap: nowrap;
}

.container {
   background: linear-gradient(45deg, #ff8ffb 0%, #008080 100%);
}

.name {
    display: flex;
    flex-wrap: wrap;
}

.ubuntu {
    max-width: 100%;
    height: auto;
}

.images {
    max-width: 100%;
    height: auto;
    display: block;
}

