.logo{
    width: 20%;
    display:flex;
    flex-wrap: nowrap;
}

.container{
   background: linear-gradient(45deg, #FF8FBF 0%, #008080 100%);
}

.name{
    display: flex;
    flex-wrap: wrap;
}

.ubuntu{
    width: 100%;
    height:
}

